.about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
}

.about-img {
    width: var(--size-8xl);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: var(--size-xxs);
    border-radius: var(--size-base);
    object-fit: cover;
}

.about p {
    margin: var(--size-2xl);
    font-weight: 200;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease;
    margin-top: auto;
}

.socials a {
    margin: var(--size-xxs);
    padding: var(--size-xxs);
}

.socials svg {
    width: var(--size-4xl);
    height: var(--size-4xl);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .about-img {
        width: var(--size-8xl);
        margin: var(--size-lg);
        border-radius: var(--size-base);
    }
}

/* md */
@media (min-width: 768px) {
    .about-img {
        width: var(--size-9xl);
    }

    .greeting {
        margin: var(--size-3xl);
        font-weight: 300;
    }
}

/* lg */
@media (min-width: 1024px) {
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--size-4xl);
    }

    .placeholder {
        display: flex;
    }
}

/* xl */
@media (min-width: 1280px) {
    .about-img {
        margin: var(--size-2xl);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .about-img {
        width: var(--size-10xl);
    }
}